$defaultColor: #333c4e;
$grayshadeColor: #28293c;
$whiteColor: #fff;
$lightgrayColor: #7e7c7d;
$grayColor: #898989;
$darkgrayColor: #687178;
$pinkColor: #d9177f;
$pinkhoverColor: #b40a65;
$borderColor: #dfdddb;
$bordershadeColor: #aaaaaa;
$bgColor: #f5f5f5;
$fbgColor: #f8f6f4;
$blueColor: #23527c;
$errorColor:#f21b1b;
