.contact-title {
  font-size: 42px;
}
.contact-sub {
  font-size: 20px;
  color: $defaultColor;
  font-weight: 600;
}
.contact-con {
  font-size: 16px;
  color: $defaultColor;
  span {
    color: $blueColor;
    &:hover {
      text-decoration: underline;
    }
  }
}
.contact-address {
  padding: 30px 0;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
}
.contact-mail {
  padding: 40px 0;
  background: $fbgColor;
  border-bottom: 1px solid $borderColor;
}
.contact-container {
  padding: 0px;
  li {
    margin-bottom: 30px;
  }
}
