.top {
  border-top: 1px solid $borderColor;
  padding: 40px 0;
  background: $fbgColor;
  p {
    font-size: 14px;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    color: $darkgrayColor;
    @include transitionAll(all 0.5s ease);
    margin-bottom: 15px;
  }
  a {
    color: $darkgrayColor;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    &:hover {
      color: $pinkColor;
    }
  }
}
.bottom {
  background: $grayshadeColor;
  h3 {
    text-align: center;
    color: $whiteColor;
  }
  .columns {
    flex-wrap: wrap;
  }
  .is-left {
    color: $grayColor;
    font-size: 12px;
    font-weight: 600;
  }
  .is-right {
    li {
      display: inline-block;
    }
    a {
      color: $grayColor;

      font-size: 12px;
      display: inline-block;
      padding: 0 5px;
      border-right: 1px solid $darkgrayColor;
      line-height: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.is-service {
  cursor: pointer;
}
.socials {
  margin-bottom: 20px;
  display: block;
  margin-top: -15px;
  li {
    display: inline-block;
    margin: 0 6px;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
    a {
      display: block;
      width: 25px;
      height: 25px;
      background: url("../images/social_icons.png") no-repeat;
      font-size: 0;
      margin: 0;
      transition: none;
    }
    &.ln {
      a {
        background-position: 0 1px;
        &:hover {
          background-position: 0 -36px;
        }
      }
    }
    &.tw {
      a {
        background-position: -39px 1px;
        &:hover {
          background-position: -39px -36px;
        }
      }
    }
    &.fb {
      a {
        background-position: -75px 1px;
        &:hover {
          background-position: -75px -36px;
        }
      }
    }
    &.yt {
      a {
        background-position: -149px 1px;
        &:hover {
          background-position: -149px -36px;
        }
      }
    }
    &.gd {
      a {
        background-position: -110px 1px;
        &:hover {
          background-position: -110px -36px;
        }
      }
    }
  }
}
